<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tentwelve.manage_base.mapper.BaseCitymapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.tentwelve.entity.base.BaseCity" id="baseCityMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="ishot" column="ishot"/>
    </resultMap>


</mapper>